body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #fff;
    color: #000;
  }
  
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 100%;
    object-fit: cover;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
  
  .btn {
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .btn-primary {
    background-color: #000;
    color: #fff;
  }
  
  .btn-outline {
    border: 2px solid #000;
    color: #000;
    background-color: transparent;
  }
  
  .btn:hover {
    scale: 0.8;
    opacity: 0.85;
  }