body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #111;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.hero-section {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-top: 50px;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.subtitle {
  color: #555;
  margin-top: 10px;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn {
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

.btn-outline {
  border: 2px solid #000;
  color: #000;
  background-color: transparent;
}

.btn:hover {
  scale: 0.8;
  opacity: 0.85;
}
